*.o
*.ppm
*.log
*.key
*.list
*.xml
*.jpg
*.vpd
*.vcd
*.json
*.ddc
simv*
rast_gold
genesis_vlog*
genesis_synth
genesis_verif
genesis_work
genesis_clean.cmd
csrc
vc_hdrs.h
DVEfiles
assignment2
libmng.so.1
libtermcap.so.2
libtiff.so.3
synth/RAST/
synth/alib-52/
synth/default.svf
synth/netlist/
synth/reports/
synth/results.txt
.DS_Store
.ipynb_checkpoints
__pycache__
magma/build
parser.out
parsetab.py
.magma
formal/rast.sv
